$primary: #8b61a8;
$primary-light: rgba($primary, 0.25);

$secondary: #e7cfb4;
$secondary-light: rgba($secondary, 0.25);

$page-bg: #ededed;
$border-color: #dde0e2;

$white: white;
$black: black;
$light: #F4F4F5;
$dark: #1F2937;

$text-light: #d9d9d9;
$middle: #9CA3AF;

$success: #10B981;
$success-light: rgba($success, 0.11);

$error: #EF4444;
$error-light: rgba($error, 0.11);

$pending: #F59E0B;
$pending-light: rgba($pending, 0.11);