.text-dark {
  color: $dark !important;
}

.text-primary {
  color: $primary !important;
}

.text-primary-light {
  color: $primary-light;
}

.text-secondary {
  color: $secondary !important;
}

.text-middle {
  color: $middle !important;
}

.text-light {
  color: $text-light !important;
}

.text-success {
  color: $success !important;
}

.text-error {
  color: $error !important;
}

.text-pending {
  color: $pending !important;
}

// bg
.bg-primary {
  background-color: $primary !important;
}

.bg-primary-light {
  background-color: $primary-light;
}

.bg-primary-light-2 {
  background-color: rgba($color: $primary-light, $alpha: 0.023);
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-middle {
  background-color: $middle !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-success {
  background-color: $success-light !important;
}

.bg-error {
  background-color: $error !important;
}

.bg-error-light {
  background-color: $error-light !important;
}

.cursor-pointer {
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0 0 10px 0 rgb(52 58 64 / 40%);
}

.w-max {
  width: auto;
  min-width: max-content;
}

.page-wrapper {
  padding: 1.5rem clamp(1rem, 5vw, 2.5rem) !important;
}

.p-x {
  padding-inline: clamp(1rem, 5vw, 2.5rem) !important;
}

.page-title {
  font-size: clamp(1.2rem, 1.9vw, 2.5rem) !important;
}
